
/**
* Responsive breakpoints
*/

$xs: 575px; 
$sm: 576px; // down -  767  
$md: 768px; // down -  991
$lg: 992px; // down -  1199
$xl: 1200px;

// min
@mixin media-breakpoint-up($break:sm) {
  @if $break == "sm" {
   @media (min-width: $sm) { @content; }
 } @else if $break == "md" {
   @media (min-width: $md) { @content; }
 } @else if $break == "lg" {
   @media (min-width: $lg) { @content; }
 } @else if $break == "xl" {
   @media (min-width: $xl) { @content; }
 }
}

// max
@mixin media-breakpoint-down($break:xs) {
   @if $break == "xs" {
   @media (max-width: $sm - 0.02 ) { @content; }
 } @else if $break == "sm" {
   @media (max-width: $md - 0.02) { @content; }
 } @else if $break == "md" {
   @media (max-width: $lg - 0.02) { @content; }
 } @else if $break == "lg" {
   @media (max-width: $xl - 0.02) { @content; }
 }
}

// only
@mixin media-breakpoint-only($break:xs) {
   @if $break == "xs" {
   @media (max-width: $sm - 0.02 ) { @content; }
 } @else if $break == "sm" {
   @media (min-width: $sm) and (max-width: $md - 0.02) { @content; }
 } @else if $break == "md" {
   @media (min-width: $md) and (max-width: $lg - 0.02) { @content; }
 } @else if $break == "lg" {
   @media (min-width: $lg) and (max-width: $xl - 0.02) { @content; }
 } @else if $break == "xl" {
   @media (min-width: $xl - 0.02) { @content; }
 }
}
