// COLORS
$blue_black: #032532;
$blue: #007fad;
$lightskyblue: #00a4dc;
$link: $blue;
$blue_hover: #006589;
$disabled: #666;

// Decoration color
$hr: #e5e5e5;
$bg_gray: #f3f3f3;
$bg_card_gray: #fbfbfb;

// Texts color
$text: #444;
$text_lighter: #9b9b9b;
$input_placeholder: #aaa;

$white: #fff;
$black: #000;
$gray_border: #ebebeb;
// END COLORS