
/*
 * VARIABLES
**/
// font size
$fontSize: (
  55,
  42,
  28,
  22,
  20,
  19,
  18,
  17,
  14,
  12,
  10
);

@each $text_size in $fontSize {
  %text-#{$text_size} {
    font-size: rem($text_size);
  }
}
%text-inherit { font-size: inherit; }




// font
%fnt-light {
  font-weight: 300;
}
%fnt-semi, b {
  font-weight: 600;
}
%fnt-bold, strong {
  font-weight: 700;
}
%fnt-exteaBold {
  font-weight: 800;
}
%fnt-normal {font-weight: normal}



// font color
$fontColor: (
  'blue': $blue,
  'text_light': $text_lighter,
  'white': $white
);

@each $name, $color in $fontColor {
  %fnt-#{$name} {
    color: $color;
  }
}






// bgs
$bgColor: (
  'gray-1': $bg_gray,
);

@each $name, $color in $bgColor {
  %bg-#{$name} {
    background-color: $color !important;
  }
}


/**
* Responsive breakpoints
*/
// xs: 575px; 
// sm: 576px; // down -  767  
// md: 768px; // down -  991
// lg: 992px; // down -  1199
// xl: 1200px;
// Xxl: 1440px;